<div class="app-content">
  <div class="container" >
            <div class="title">
                Welcome To Sharearechiver
            </div>
            <div class="panel-body">
              <md-input-container>
        <input mdInput type="text" required  id="username" name="username" >
        <md-placeholder>
         Username
        </md-placeholder>
      </md-input-container><br><br>
      <md-input-container>
        <input mdInput type="password" required  id="password" name="password" >
        <md-placeholder >
          Password
        </md-placeholder>
      </md-input-container><br><br>
      <button md-raised-button color="warn" type="submit" (click) = "login()" name="action">LOGIN</button><br><br>
      <span id="err"><small></small></span>
      <md-slide-toggle color="primary"><small>Remember me!</small></md-slide-toggle>  
                
                
            </div>
        </div>
</div>