    <!--system status code-->

<md-card class="">
    <div class="row">
    <div class="col-sm-6 col-md-6">
             <div class="col-sm-6 col-md-6 p-r-0">
                 <div class="card-header">
                  <h2>File Store Tag</h2> </div>
                <div>default</div>

             </div>

               <div class="col-sm-6 col-md-6 p-l-0">
           <div class="card-header">
                  <h2>Available Free Space</h2> </div>
                  <div _ngcontent-pkx-63="" _ngcontent-dsi-63="" class="progress Store">
                        <div class="bar-lbl">730.23 GB / 1023.5 GB </div>
                                        <div _ngcontent-pkx-63="" _ngcontent-dsi-63="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar" style="width: 80%">
                                            <span _ngcontent-pkx-63="" _ngcontent-dsi-63="" class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
             </div>

    </div>
   <div class="col-sm-6 col-md-6">
             <div class="col-sm-6 col-md-6 p-r-0">
           <div class="card-header">
                  <h2>Licensed Volume</h2> </div>
                  Volume Status
             </div>

               <div class="col-sm-6 col-md-6 p-l-0">
           <div class="card-header">
                  <h2>Available Free Space</h2> </div>
                  <div _ngcontent-pkx-63="" _ngcontent-dsi-63="" class="progress Store">
                      <div class="bar-lbl">730.23 GB / 1023.5 GB </div>
                                        <div _ngcontent-pkx-63="" _ngcontent-dsi-63="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar" style="width: 80%">
                                            <span _ngcontent-pkx-63="" _ngcontent-dsi-63="" class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
             </div>

    </div>
    
    </div>

</md-card>



 <md-card >
    <div class="card-main-head"> Repository Information </div>
<div class="row">
    <div class="col-sm-6 col-md-3">
<div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line">
                                          
                                           <img src="assets/images/document.png" >
                                           </div>
                                        <div class="count">
                                            <small>Total Sales</small>
                                            <h2>$ 458,778</h2>
                                        </div>
                                    </div>
                                </div>
    </div>
        <div class="col-sm-6 col-md-3">
<div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line">
                                              <img src="assets/images/db.png" ></div>
                                        <div class="count">
                                            <small>Total Sales</small>
                                            <h2>$ 458,778</h2>
                                        </div>
                                    </div>
                                </div>
    </div>
        <div class="col-sm-6 col-md-3">
<div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line">  <img src="assets/images/db-rf.png" ></div>
                                        <div class="count">
                                            <small>Total Sales</small>
                                            <h2>$ 458,778</h2>
                                        </div>
                                    </div>
                                </div>
    </div>
        <div class="col-sm-6 col-md-3">
<div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line">  <img src="assets/images/db_bk.png" ></div>
                                        <div class="count">
                                            <small>Total Sales</small>
                                            <h2>$ 458,778</h2>
                                        </div>
                                    </div>
                                </div>
    </div>

</div>

 <div class="row">
      <div class="col-md-6 col-sm-6  ">
          
          <div class="card-header">
                  <h2>Volume Stats</h2> </div>

                <div class='row m-b-10'>
                    <div class="col-md-6 col-sm-6  ">Volume Archived: <strong>190.77 GB</strong></div>
                    <div class="col-md-6 col-sm-6  "><div _ngcontent-dsi-63="" class="progress">
                                        <div _ngcontent-dsi-63="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar" style="width: 80%">
                                            <span _ngcontent-dsi-63="" class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div></div>
                </div>

                 <div class='row m-b-10'>
                    <div class="col-md-6 col-sm-6  ">Volume Archived: <strong>190.77 GB</strong></div>
                    <div class="col-md-6 col-sm-6  "><div _ngcontent-dsi-63="" class="progress">
                                        <div _ngcontent-dsi-63="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar" style="width: 80%">
                                            <span _ngcontent-dsi-63="" class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div></div>
                </div>

                  <div class='row'>
                    <div class="col-md-6 col-sm-6  ">Volume Archived: <strong>190.77 GB</strong></div>
                    <div class="col-md-6 col-sm-6  "><div _ngcontent-dsi-63="" class="progress">
                                        <div _ngcontent-dsi-63="" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar progress-bar-danger" role="progressbar" style="width: 80%">
                                            <span _ngcontent-dsi-63="" class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div></div>
                </div>

           </div>

       <div class="col-md-6 col-sm-6 ">
          
          <div class="card-header">
                  <h2>Archive Stats</h2> </div>

                <div class='row m-b-10'>
                    <div class="col-md-6 col-sm-6  ">Volume Archived:<strong> 190.77 GB</strong></div>
                    <div class="col-md-6 col-sm-6  "></div>
                </div>

                  <div class='row'>
                    <div class="col-md-6 col-sm-6  ">Volume Archived: <strong> GB</strong></div>
                    <div class="col-md-6 col-sm-6  "></div>
                </div>

           </div>

     </div>


     


     


      <div class="row m-b-10">
      <div class="col-md-6 col-sm-6 m-t-20  ">
          
          <div class="card-header">
                  <h2>Repository Stats (Number of Files)</h2> </div>

            <div class="mini-charts-item">
                    <canvas baseChart
                        [data]="doughnutChartData"
                        [colors]="doughnutChartColor"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"></canvas>
                </div>   
                  

           </div>

       <div class="col-md-6 col-sm-6  m-t-20">
          
          <div class="card-header">
                  <h2>Repository Stats (Data Volume in MBs)</h2> </div>
              <div class="mini-charts-item">
                        <canvas baseChart
                        [data]="doughnutChartData"
                        [colors]="doughnutChartColor"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"></canvas>
                        
                </div>
              


           </div>

     </div>

<div class="row m-t-20">
<div class="col-md-12 col-sm-12  ">
<div class="card-header">
                  <h2>Repository</h2> </div>
                  <div class="mini-charts-item">
<!--            <div class="clearfix">
                <div class="chart stats-line">
                <canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas>
                -->
                <canvas baseChart
            [datasets]="barChartData"
            [colors]="barChartbackgroundColor"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
                <!--</div>-->
                <!--<div class="count">
                    <small>Total Sales</small>
                    <h2>$ 458,778</h2>
                </div>
            </div>-->
        </div>
</div>


<div class="col-md-12 col-sm-12  ">
<div class="card-header">
                  <h2>Last Accessed by</h2> </div>
                  <div class="mini-charts-item">
<!--            <div class="clearfix">
                <div class="chart stats-line">
                <canvas width="68" height="35" style="display: inline-block; width: 68px; height: 35px; vertical-align: top;"></canvas>
                -->
                <canvas baseChart
            [datasets]="barChartData"
            [colors]="barChartbackgroundColor"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
                <!--</div>-->
                <!--<div class="count">
                    <small>Total Sales</small>
                    <h2>$ 458,778</h2>
                </div>
            </div>-->
        </div>
</div>

     </div>
     </md-card>


<md-card>

    <div class="row">

        <div class="col-md-6 col-sm-6  ">
<div class="card-header">
                  <h2>ShareArchive License:</h2> </div>

 <div class="row m-b-5">
       <div class="col-md-8 col-sm-8  font-col-1">Status</div>
       <div class="col-md-3 col-sm-3  font-col-2">Activated</div>
 </div>
 <div class="row m-b-5">
       <div class="col-md-8 col-sm-8  font-col-1">License Type</div>
       <div class="col-md-3 col-sm-3  ">Activated</div>
 </div>
 <div class="row m-b-5">
       <div class="col-md-8 col-sm-8  font-col-1">Subscription expiration date</div>
       <div class="col-md-3 col-sm-3  ">Activated</div>
 </div>
                  
</div>


<div class="col-md-6 col-sm-6  ">

</div>
    </div>

</md-card>


<md-card class="trns-card">
<div class="row">

    <div class="col-md-6 col-sm-6  ">Version:  3.3.0

</div>

<div class="col-md-6 col-sm-6 text-right">You are connected to ShareArchiver

</div>

</div>

</md-card>
<!-- end system status code-->
