<md-sidenav-container class="app-inner">
    <md-sidenav #nav mode="side" class="app-sidenav" [opened]="false">
        <!-- // TO DO add profile container as follows-->
        <!--<md-toolbar>
          <md-toolbar class="md-warn layout-align-center-center layout-row" layout="row" layout-align="center center">
            <img class="img-circle"  src="assets/images/avatar2x.png">
                 <md-menu md-offset="0 20" class="md-menu ng-scope">
                   <button class="capitalize md-button md-ink-ripple" type="button"  aria-label="Open menu" aria-haspopup="true" aria-expanded="false" aria-owns="menu_container_0"><span class="ng-scope">Richard Feynman</span> <i class="material-icons ng-scope">keyboard_arrow_down</i><div class="md-ripple-container"></div>
                   </button>
                 </md-menu>
          </md-toolbar>
        </md-toolbar>-->

        <!-- // End of TO DO-->
        <md-nav-list>
            <md-list-item >
                <a (click)="nav.close()" [routerLink]="['/main']">Main</a>
            </md-list-item>
            <md-list-item >
                <a (click)="nav.close()">Configuration</a>
            </md-list-item>
            <md-list-item >
                <a (click)="nav.close()">Global Configuration</a>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <app-toolbar [nav]="nav"></app-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-container>