<md-sidenav-container class="app-inner">
    <md-sidenav #nav mode="side" class="app-sidenav" [opened]="false">
        <!-- // TO DO add profile container as follows-->
        <!--<md-toolbar>
          <md-toolbar class="md-warn layout-align-center-center layout-row" layout="row" layout-align="center center">
            <img class="img-circle"  src="assets/images/avatar2x.png">
                 <md-menu md-offset="0 20" class="md-menu ng-scope">
                   <button class="capitalize md-button md-ink-ripple" type="button"  aria-label="Open menu" aria-haspopup="true" aria-expanded="false" aria-owns="menu_container_0"><span class="ng-scope">Richard Feynman</span> <i class="material-icons ng-scope">keyboard_arrow_down</i><div class="md-ripple-container"></div>
                   </button>
                 </md-menu>
          </md-toolbar>
        </md-toolbar>-->

        <!-- // End of TO DO-->
<div class="s-profile">
                    <a href="#" data-ma-action="profile-menu-toggle">
                    <div class="sp-pic">
                            <img src="https://raw.githubusercontent.com/supun/ShareArchiverAngular2/gh-pages/assets/images/1.jpg" alt="" class="mCS_img_loaded">
                        </div>

                        
                    </a>

                   
                </div>


<ul class="menu-toggle-list">
<li class="ng-scope">
  <button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage sa-flex-row'>
      <div class="main-icn"><i class="material-icons">home</i></div>
       <div class='main-cn'>main </div>
       <div class='main-arrow'><i class="material-icons">keyboard_arrow_right</i> </div>
       </div>
       </button>

<ul class="sub-item">

    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
      
    </ul>


</li>


<li class="ng-scope">
  <button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage sa-flex-row'>
      <div class="main-icn"><i class="material-icons">home</i></div>
       <div class='main-cn'>main </div>
       <div class='main-arrow'><i class="material-icons">keyboard_arrow_right</i> </div>
       </div>
       </button>

<ul class="sub-item">

    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
    <li><button md-button-toggle md-button md-ink-ripple ><div class='men-btn-cage'> sub link 1</div></button></li>
      
    </ul>


</li>



    </ul>


<!--
        <md-nav-list>
            <md-list-item >

        <i class="material-icons">home</i><a (click)="nav.close()" [routerLink]="['/main']">Main</a> 
                      
           <ul>
               <li>dfdgfdg</li>
                <li>dfdgfdg</li>
                 <li>dfdgfdg</li>
           </ul>
           
            </md-list-item>
            <md-list-item >
                <i class="material-icons">home</i><a (click)="nav.close()" [routerLink]="['/components']">Components</a>
                
            </md-list-item>
            <md-list-item >
                <i class="material-icons">home</i><a (click)="nav.close()" [routerLink]="['/system']">System</a>
            </md-list-item>
            <md-list-item >
                <i class="material-icons">home</i><a (click)="nav.close()" [routerLink]="['/system/system-status']">System Status</a>
            </md-list-item>
            <md-list-item >
                <i class="material-icons">home</i><a (click)="nav.close()" [routerLink]="['/system/job-status']">Job Status</a>
            </md-list-item>
            <md-list-item >
                <i class="material-icons">settings</i><a (click)="nav.close()" [routerLink]="['configuration']">Configuration</a>
            </md-list-item>
            <md-list-item >
                <i class="material-icons">settings</i><a (click)="nav.close()" [routerLink]="['configuration/job-list']">Job Management</a>
            </md-list-item>
            <md-list-item >
                <i class="material-icons">vpn_key</i><a (click)="nav.close()" [routerLink] ="['system-configuration']">Global Configuration</a>
            </md-list-item>
        </md-nav-list>-->
    </md-sidenav>
    <app-toolbar [nav]="nav"></app-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-container>