<div class="app-content">
<!--  job list code-->
<md-card>
    <div class="mdcard-header">
        <h2>Policies List
            <small>

                                </small>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped bootgrid-table">
            <thead>
                <tr>

                    <th>Policy Name</th>
                    <th>Description</th>
                    <th>Policy Type</th>
                     <th class='action-cage'>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                     <td>Inclusion</td>
                    <td class='action-cage'>
                      <button md-icon-button><md-icon>mode_edit</md-icon></button>
                      <button md-icon-button><md-icon>content_copy</md-icon></button>
                    </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                     <td>Inclusion</td>
                    <td class='action-cage'>
                       <button md-icon-button><md-icon>mode_edit</md-icon></button>
                      <button md-icon-button><md-icon>content_copy</md-icon></button>
                      </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                     <td>Inclusion</td>
                    <td class='action-cage'>
                   <button md-icon-button><md-icon>mode_edit</md-icon></button>
                      <button md-icon-button><md-icon>content_copy</md-icon></button>
                         </td>

                </tr>
        
            </tbody>
        </table>


    </div>
</md-card>
<!-- end job list code-->
</div>
