<div class="app-content">


    <md-card>


        <div class="mdcard-header">
            <h2>Table heading
                <small></small>
            </h2>
        </div>


        <div class="table-responsive">
            <table class="table table-hover table-striped bootgrid-table">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Preferred Name</th>
                        <th>Company Tag</th>
                        <th>Admin name</th>
                        <th>Global Key</th>
                        <th class='action-cage'>Company Login</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let company of companyList">
                        <td>Evgeny</td>
                        <td>Evgeny Enterprise</td>
                        <td>evgeny</td>
                        <td>evgeny_admin</td>
                        <td>ae6a30dcb672c1dbf61b213c31b091da</td>
                        <td  class='action-cage' ><button md-button class="btn bgm-orange btn-xs" [routerLink]="['../../system/job-status']">Login</button></td>
                    </tr>
                    
                </tbody>
            </table>


        </div>

        <div id="data-table-selection-footer" class="bootgrid-footer container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="pagination">
                        <li class="first disabled" aria-disabled="true">
                            <a data-page="first" class="button"><i class="material-icons">more_vert</i>
        </a></li>
                        <li class="prev disabled" aria-disabled="true">
                            <a data-page="prev" class="button"><i class="material-icons">keyboard_arrow_left</i>
            </a></li>
                        <li class="page-1 active" aria-disabled="false" aria-selected="true">
                            <a data-page="1" class="button">1</a></li>
                        <li class="page-2" aria-disabled="false" aria-selected="false">
                            <a data-page="2" class="button">2</a></li>
                        <li class="next" aria-disabled="false">
                            <a data-page="next" class="button"><i class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="last" aria-disabled="false">
                            <a data-page="last" class="button">
                                <i class="material-icons">more_vert</i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 infoBar">
                    <div class="infos">Showing 1 to 10 of 20 entries</div>
                </div>
            </div>
        </div>

    </md-card>