<div class="app-content">
  
  <div class="row m-t-15 bdr-bot">
       <div class="col-sm-8 col-md-8">
<ol class="breadcrumb">
                                <li><a href="#"> datas</a></li>
                                <li><a href="#"> data</a></li>
                                <li><a href="#">Accounts_backup </a></li>
                                <li><a href="#">accounts</a></li>
                                <li class="active"> backedup</li>
                            </ol>
       </div>
      <div class="col-sm-4 col-md-4">
          <ul class="icon-list pull-right m-r-25">
              <li class="icn-ref"></li>
              <li class="icn-file-add"></li>
              <li class="icn-add-dr"></li>
              <li class="icn-edit"></li>
             
          </ul>
  </div>
  </div>


<div class="row">

    <div class="col-sm-4 col-md-4">
    <md-card class="m-r-0">
<div  class="card-main-head light"> Folders </div>


  <md-divider></md-divider>
                <tree-root
  #tree
  [nodes]="nodes"
  [options]="treeOptions">

  <template #treeNodeTemplate let-node="node" let-index="index" >
    <!--<input
      (change)="check( node, $event)"
      type="checkbox"
      [indeterminate]="node.data.indeterminate"
      [checked]="node.data.checked">-->
      <md-checkbox class="example-margin" (change)="check( node, $event)"  [indeterminate]="node.data.indeterminate" [checked]="node.data.checked"> 
       <div> <i class="material-icons">folder</i> <span>{{ node.data.name }}</span> </div>          
          </md-checkbox>
  </template>
</tree-root>

    </md-card>
    </div>


    <div class="col-sm-8 col-md-8 p-l-0">
 <md-card class="p-0 m-l-0">


            <div class="table-responsive">
                <table class="table table-hover table-striped bootgrid-table">
                    <thead class="light">
                        <tr>

                            <th><i class="zmdi zmdi-file-text"></i> File Name</th>
                            <th>Modified</th>
                            <th>Type</th>
                            <th>Size</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr>

                        <tr>
                             <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr>
<tr>
                             <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr><tr>
                             <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr><tr>
                             <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr>
                        <tr>
                             <td class="icn-doc set-icon">  test.xcls</td>
                            <td>2017-05-05 11.44</td>
                            <td>Ms Excel</td>                           
                            <td >2 Kb</td>
                        </tr>
                     



                    </tbody>
                </table>


            </div>


    </md-card>




<!-- start job status code-->
<md-card class="m-l-0 p-t-15">
<div class="card-main-head"> cashbook1.xls - poperties</div>

<div>

    <div class="row">

   <div class="col-sm-12 col-md-12">
          <ul class="icon-list pull-right m-r-25">
              <li class="icn-eye"></li>
              <li class="icn-file"></li>
              <li class="icn-link"></li>
              <li class="icn-download"></li>

             
             
          </ul>
  </div>

    </div>

    <div>
    <md-tab-group>
        <md-tab label="All Jobs">

            <div class="table-responsive">
                <table class="table table-hover table-striped bootgrid-table">
                  
                    <tbody>
                        <tr>
                            <td class="">Name</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                        <tr>
                            <td>Path</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                          <tr>
                            <td>Path</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                     



                    </tbody>
                </table>


            </div>

        </md-tab>
        <md-tab label="Backups">
            <div class="table-responsive">
                <table class="table table-hover table-striped bootgrid-table">
                  
                    <tbody>
                        <tr>
                            <td class="">Name</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                        <tr>
                            <td>Path</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                          <tr>
                            <td>Path</td>
                            <td>cashbook.xls</td>                  
                        </tr>
                    </tbody>
                </table>


            </div>


        </md-tab>



    </md-tab-group>
    </div>

</div>



</md-card>

<!-- end job status code-->





    </div>

    
</div>

<md-card class="trns-card">
<div class="row">

    <div class="col-md-6 col-sm-6  ">Version:  3.3.0

</div>

<div class="col-md-6 col-sm-6 text-right">You are connected to ShareArchiver

</div>

</div>

</md-card>
</div>