<div class="app-content">
<!--  job list code-->
<md-card>
    <div class="mdcard-header">
        <h2>Job Status
            <small>

                                </small>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped bootgrid-table">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Type</th>
                    <th>Executed</th>
                    <th>Agent</th>
                    <th>Policy</th>
                    <th class='action-cage'>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                        <button md-mini-fab class="bgm-orange btn-icon"><i class="material-icons">mode_edit</i> </button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">delete_forever</i></button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">content_copy</i></button>
                    </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                        <button md-mini-fab class="bgm-orange btn-icon"><i class="material-icons">mode_edit</i> </button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">delete_forever</i></button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">content_copy</i></button>
                    </td>

                </tr>
                      <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                        <button md-mini-fab class="bgm-orange btn-icon"><i class="material-icons">mode_edit</i> </button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">delete_forever</i></button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">content_copy</i></button>
                    </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                        <button md-mini-fab class="bgm-orange btn-icon"><i class="material-icons">mode_edit</i> </button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">delete_forever</i></button>
                        <button md-mini-fab class="bgm-orange btn-icon" ><i class="material-icons">content_copy</i></button>
                    </td>

                </tr>
        
            </tbody>
        </table>


    </div>
</md-card>
<!-- end job list code-->
</div>
