<div class="app-content">
<!--  job list code-->
<md-card>
    <div class="mdcard-header">
        <h2>Job Status
            <small>

                                </small>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped bootgrid-table">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Type</th>
                    <th>Executed</th>
                    <th>Agent</th>
                    <th>Policy</th>
                    <th class='action-cage'>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                        <button md-icon-button><md-icon>mode_edit</md-icon></button>
                        <button md-icon-button><md-icon>delete_forever</md-icon></button>
                        <button md-icon-button><md-icon>content_copy</md-icon></button>
                      </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                           <button md-icon-button><md-icon>mode_edit</md-icon></button>
                        <button md-icon-button><md-icon>delete_forever</md-icon></button>
                        <button md-icon-button><md-icon>content_copy</md-icon></button>
                   </td>

                </tr>
                      <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                      <button md-icon-button><md-icon>mode_edit</md-icon></button>
                        <button md-icon-button><md-icon>delete_forever</md-icon></button>
                        <button md-icon-button><md-icon>content_copy</md-icon></button>
                       </td>

                </tr>
                <tr>
                    <td>test murugan</td>
                    <td>Archive & Stub</td>
                    <td>Administrator</td>
                    <td>2017-02-24 08:06:53.0</td>
                    <td>all</td>
                     <td class='action-cage'>
                     <button md-icon-button><md-icon>mode_edit</md-icon></button>
                     <button md-icon-button><md-icon>delete_forever</md-icon></button>
                     <button md-icon-button><md-icon>content_copy</md-icon></button>
                        </td>

                </tr>
        
            </tbody>
        </table>


    </div>
</md-card>
<!-- end job list code-->
</div>
