<div class="app-content">
<!-- start job status code-->
<md-card>
    <div class="mdcard-header">
        <h2>Job Status
            <small>his page covers tables that have a simple row header and a simple column header
                                </small>
        </h2>
    </div>


    <md-tab-group>
        <md-tab label="All Jobs">

            <div class="table-responsive">
                <table class="table table-hover table-striped bootgrid-table">
                    <thead>
                        <tr>

                            <th>ID</th>
                            <th>Job Name</th>
                            <th>Action</th>
                            <th>Agent</th>
                            <th>Policy</th>
                            <th class='action-cage' >Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>



                    </tbody>
                </table>


            </div>

        </md-tab>
        <md-tab label="Backups">
            <div class="table-responsive">
                <table class="table table-hover table-striped bootgrid-table">
                    <thead>
                        <tr>

                            <th>ID</th>
                            <th>Job Name</th>
                            <th>Action</th>
                            <th>Agent</th>
                            <th>Policy</th>
                            <th class='action-cage'>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>
                        <tr>
                            <td>35</td>
                            <td>test murugan</td>
                            <td>Archive & Stub</td>
                            <td>Administrator</td>
                            <td>all</td>
                            <td class='action-cage'><span class="lbl bgm-lightgreen">Completed</span></td>

                        </tr>



                    </tbody>
                </table>


            </div>


        </md-tab>
    </md-tab-group>



</md-card>
<!-- end job status code-->
</div>