<app-navbar></app-navbar>
<div class="app-content">

    <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>
    <md-card>


        <div class="row">
            <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>
           <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

           <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

           <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

            <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

            <div class="col-sm-4">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

         

      </div>
      <p class="m-b-25 m-t-25 c-black f-500">Floating Label - Floating animation for label when
                                Input feild is active.</p>

<div class="row">
 <div class="col-sm-12">
              <md-select placeholder="Favorite food">
  <md-option *ngFor="let food of foods" [value]="food.value">
  
  </md-option>
</md-select>
         </div>

          <div class="col-sm-12">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>


          <div class="col-sm-12">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

          <div class="col-sm-12">
              <md-input-container class="example-full-width">
              <input mdInput placeholder="Company" >
             </md-input-container>
         </div>

    </div>



    </md-card>

<md-card>
<md-progress-bar mode="indeterminate"></md-progress-bar>
    </md-card>


    <md-card>
   <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-red">
                                        <span class="color">Red</span>
                                        <span class="code">#F44336</span>
                                        <span class="less">@bgm-red</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-pink">
                                        <span class="color">Pink</span>
                                        <span class="code">#E91E63</span>
                                        <span class="less">@bgm-pink</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-purple">
                                        <span class="color">Purple</span>
                                        <span class="code">#9C27B0</span>
                                        <span class="less">@bgm-purple</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-deeppurple">
                                        <span class="color">Deep Purple</span>
                                        <span class="code">#673AB7</span>
                                        <span class="less">@bgm-deeppurple</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-indigo">
                                        <span class="color">Indigo</span>
                                        <span class="code">#3F51B5</span>
                                        <span class="less">@bgm-indigo</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-blue">
                                        <span class="color">Blue</span>
                                        <span class="code">#2196F3</span>
                                        <span class="less">@bgm-blue</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-lightblue">
                                        <span class="color">Light Blue</span>
                                        <span class="code">#03A9F4</span>
                                        <span class="less">@bgm-lightblue</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-cyan">
                                        <span class="color">Cyan</span>
                                        <span class="code">#00BCD4</span>
                                        <span class="less">@bgm-cyan</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-teal">
                                        <span class="color">Teal</span>
                                        <span class="code">#009688</span>
                                        <span class="less">@bgm-teal</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-green">
                                        <span class="color">Green</span>
                                        <span class="code">#4CAF50</span>
                                        <span class="less">@bgm-green</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-lightgreen">
                                        <span class="color">Light Green</span>
                                        <span class="code">#8BC34A</span>
                                        <span class="less">@bgm-lightgreen</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-lime">
                                        <span class="color">Lime</span>
                                        <span class="code">#CDDC39</span>
                                        <span class="less">@bgm-lime</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-yellow">
                                        <span class="color">Yellow</span>
                                        <span class="code">#FFEB3B</span>
                                        <span class="less">@bgm-yellow</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-amber">
                                        <span class="color">Amber</span>
                                        <span class="code">#FFC107</span>
                                        <span class="less">@bgm-amber</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-orange">
                                        <span class="color">Orange</span>
                                        <span class="code">#FF9800</span>
                                        <span class="less">@bgm-orange</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-deeporange">
                                        <span class="color">Deep Orange</span>
                                        <span class="code">#FF5722</span>
                                        <span class="less">@bgm-deeporange</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-brown">
                                        <span class="color">Brown</span>
                                        <span class="code">#795548</span>
                                        <span class="less">@bgm-brown</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-gray">
                                        <span class="color">Gray</span>
                                        <span class="code">#9E9E9E</span>
                                        <span class="less">@bgm-gray</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-bluegray">
                                        <span class="color">Blue Gray</span>
                                        <span class="code">#607D8B</span>
                                        <span class="less">@bgm-bluegray</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="color-block bgm-black">
                                        <span class="color">Black</span>
                                        <span class="code">#000000</span>
                                        <span class="less">@bgm-black</span>
                                    </div>
                                </div>
                            </div>

    </md-card>

<md-card>



                         <div class="btn-demo">
                                <button md-button class="btn btn-default waves-effect">Default</button>
                                <button md-button class="btn btn-info waves-effect">Info</button>
                                <button md-button class="btn btn-primary waves-effect">Primary</button>
                                <button md-button  class="btn btn-success waves-effect">Success</button>
                                <button md-button class="btn btn-warning waves-effect">Warning</button>
                                <button md-button class="btn btn-danger waves-effect">Danger</button>
                            </div>

                           

    </md-card>

    <md-card>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alexandra</td>
                        <td>Christopher</td>
                        <td>@makinton</td>
                        <td>Ducky</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Madeleine</td>
                        <td>Hollaway</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>@sebastian</td>
                        <td>Jaycee</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td>@mitchell4u</td>
                        <td>AdskiDeAnus</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td>@belkitt</td>
                        <td>Goat</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td>@wayne234</td>
                        <td>Pokie</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td>@anitabelle</td>
                        <td>Wokie</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td>@mwalmart</td>
                        <td>Spike</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>


    <md-card>

        <div class="row">
            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                   Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>
        </div>
    </md-card>


    <md-card>
 <div class="alert alert-success" role="alert">Well done! You successfully read this
                                important alert message.
                            </div>
                            <div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but
                                it's not super important.
                            </div>
                            <div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not
                                looking too good.
                            </div>
                            <div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try
                                submitting again.
                            </div>
        </md-card>


</div>
