<app-navbar></app-navbar>
<div class="app-content">

    <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>
    <md-card>
        <md-input-container class="example-full-width">
           <input mdInput placeholder="Company" >
        </md-input-container>
    </md-card>

    <md-card>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alexandra</td>
                        <td>Christopher</td>
                        <td>@makinton</td>
                        <td>Ducky</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Madeleine</td>
                        <td>Hollaway</td>
                        <td>@hollway</td>
                        <td>Cheese</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>@sebastian</td>
                        <td>Jaycee</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td>@mitchell4u</td>
                        <td>AdskiDeAnus</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td>@belkitt</td>
                        <td>Goat</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td>@wayne234</td>
                        <td>Pokie</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td>@anitabelle</td>
                        <td>Wokie</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td>@mwalmart</td>
                        <td>Spike</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>


    <md-card>

        <div class="row">
            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                   Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body sacard-padding bgm-pink c-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur
                </div>
            </div>
        </div>
    </md-card>


    <md-card>
 <div class="alert alert-success" role="alert">Well done! You successfully read this
                                important alert message.
                            </div>
                            <div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but
                                it's not super important.
                            </div>
                            <div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not
                                looking too good.
                            </div>
                            <div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try
                                submitting again.
                            </div>
        </md-card>


</div>
